@media only screen and (max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Roboto', sans-serif;
        color: #EDF5E1;
    }
    header {
        background: #05386B;
        padding: 5px;
    }
    a {
        text-decoration: none;
        list-style: none;
    }
    img {
        width: 50px;
        height: 50px;
    }
    nav {
        display: block;
    }
    .logo img {
        display: inline;
        text-align: center;
        padding-top: 10px;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    header button {
        display: block;
        margin: .2rem .2vw;
        margin-top: 0;
        background: transparent;
        border: none;
        font-size: 3rem;
        color: #EDF5E1;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        text-align: center;
        color: #EDF5E1;
        border: 1px solid rgba(0, 0, 0, .5)
    }
    nav ul li a:hover {
        background: rgb(54, 103, 143);
    }
    .current-page {
        background-color: rgb(54, 103, 143);
        ;
        color: #EDF5E1;
    }
    .black {
        color: black
    }
    .red {
        color: rgb(179, 30, 30);
    }
    .icon-1 {
        display: inline-block;
        background: #EDF5E1;
        border: 1px solid #333;
        padding: 10px;
        border-radius: 5px;
    }
    .icon-1 a i {
        font-size: 1.5rem;
        text-align: center;
        color: #05386B;
        padding: 5px;
    }
    .icon-2 {
        display: inline-block;
        background: rgb(30, 109, 138);
        border: 1px solid #333;
        padding: 10px;
        border-radius: 5px;
    }
    .icon-2 a i {
        font-size: 1.5rem;
        color: #fff;
        padding: 5px;
    }
    #socialnav .icon-1:hover {
        color: #EDF5E1;
        background: rgb(179, 30, 30);
    }
    #socialnav .icon-2:hover {
        color: #EDF5E1;
        ;
        background: rgb(0, 0, 0.2);
        ;
    }
    footer {
        display: block;
        background: #05386B;
        text-align: center;
    }
    .main-footer {
        display: block;
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    .main-footer p {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .company-name {
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 0;
    }
    .current-time {
        display: block;
        text-align: center;
        padding: 7px;
    }
    .bunner {
        display: block;
        padding: 10px;
        background: #638475;
        text-align: center;
    }
    .logo {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .navbar ul {
        display: none;
    }
    .navbar ul.open {
        display: block;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        justify-content: center;
        color: #333;
        justify-items: stretch;
        padding: 10px;
    }
    .grid-1 {
        box-shadow: 10px 0px 5px #aaa;
        background: #fff;
        grid-column: 1/5;
        grid-row: 40/60;
    }
    .grid-1 h2 {
        color: #05386B;
        text-align: center;
        padding: 5px;
    }
    .grid-1 p {
        text-align: center;
        padding: 5px;
    }
    .grid-1 a {
        display: block;
        text-align: center;
        background: #05386B;
        color: #fff;
        padding: 5px;
        margin-top: 10px;
    }
    .grid-1 a:hover {
        color: #EDF5E1;
        background: #638475;
    }
    .grid-2 {
        position: relative;
        grid-column: 1/5;
        grid-row: 1/40;
    }
    .grid-2 img {
        width: 100%;
        opacity: .4;
        height: 100%;
    }
    .grid-2 span {
        position: absolute;
        text-align: center;
        top: 100px;
        left: 0px;
        color: #05386B;
        padding: 10px;
        font-size: 25px;
        font-weight: bolder;
        border-radius: 7px;
    }
    .grid-4 {
        box-shadow: 10px 10px 5px #aaaaaa;
        padding: 5px;
        background: #fff;
        grid-column: 1/5;
        grid-row: 60/80;
    }
    .grid-4 p {
        text-align: center;
    }
    .grid-4 h2 {
        color: #05386B;
        text-align: center;
        padding: 5px;
    }
    .grid-4 a {
        display: block;
        text-shadow: #333;
        text-align: center;
        padding: 5px;
        background: #05386B;
        color: #EDF5E1;
        margin-top: 10px;
    }
    .grid-4 a:hover {
        color: #EDF5E1;
        background: #638475;
    }
    .grid-5 {
        display: none;
    }
    .grid-6 {
        box-shadow: 10px 10px 5px #aaaaaa;
        padding: 5px;
        background: #fff;
        grid-column: 1/5;
        grid-row: 80/100;
    }
    .grid-6 h2 {
        text-align: center;
        color: #05386B;
    }
    .grid-6 p {
        text-align: center;
    }
    .grid-6 a {
        display: block;
        text-align: center;
        background: #05386B;
        color: #fff;
        padding: 5px;
        margin-top: 10px;
    }
    .grid-6 a:hover {
        color: #EDF5E1;
        background: #638475;
    }
    .grid-3 {
        display: grid;
        background: #90E39A;
        padding: 10px;
        grid-column: 1/5;
        grid-row: 100/140;
    }
    .grid-3>div:nth-child(1) {
        box-shadow: 0px 0px 10px 5px #aaaaaa;
        background: #f4f4f4;
        padding: 5px;
        grid-auto-rows: 200px;
        grid-row: 1/2;
    }
    .spotlight-1 h2 {
        color: #05386B;
        text-shadow: 10px 10px 5px #333;
        text-align: center;
    }
    .spotlight-1 p {
        text-align: center;
        margin-top: 10px;
    }
    .grid-3>div:nth-child(2) {
        box-shadow: 0px 0px 10px 5px #aaaaaa;
        background: #f4f4f4;
        grid-column: 1;
        grid-row: 2/3;
    }
    .spotlight-2 h2 {
        color: #05386B;
        text-shadow: 10px 10px 5px #333;
        text-align: center;
    }
    .spotlight-2 p {
        text-align: center;
        margin-top: 10px;
    }
    .grid-3>div:nth-child(3) {
        display: none
    }
    #socialnav {
        display: block;
        padding: 5px;
        text-align: center;
        margin: auto;
    }
}