@media only screen and (min-width: 700px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Roboto', sans-serif;
        color: #EDF5E1;
    }
    header {
        background: #05386B;
    }
    a {
        text-decoration: none;
        list-style: none;
    }
    header button {
        display: none;
    }
    img {
        width: 50px;
        height: 50px;
    }
    nav {
        display: flex;
    }
    /* Utility */
    .container {
        max-width: 1800px;
        margin: auto;
    }
    .logo {
        display: flex;
        align-content: left;
        padding: 5px;
    }
    .logo h2 {
        margin-top: 10px;
        padding: 5px;
    }
    .logo img {
        display: inline;
        padding-top: 10px;
    }
    /* Navigation */
    .navbar {
        display: flex;
        background: #05386B;
        padding: 10px;
    }
    .navbar ul {
        display: flex;
        text-align: center;
        margin: auto;
    }
    .navbar ul li {
        display: flex;
        padding: 10px;
        margin: auto;
    }
    .navbar ul li a {
        color: #EDF5E1;
    }
    .black {
        color: black
    }
    .red {
        color: rgb(179, 30, 30);
    }
    .icon-1 {
        display: block;
        background: #EDF5E1;
        border: 1px solid #333;
        padding: 10px;
        justify-content: end;
        border-radius: 5px;
    }
    .icon-1 a i {
        font-size: 1.5rem;
        color: #05386B;
        padding: 5px;
    }
    .icon-2 {
        display: block;
        background: rgb(30, 109, 138);
        border: 1px solid #333;
        padding: 10px;
        border-radius: 5px;
    }
    .icon-2 a i {
        font-size: 1.5rem;
        color: #fff;
        padding: 5px;
    }
    #socialnav {
        display: flex;
        padding: 10px;
        margin-right: 5px;
    }
    #socialnav .icon-1:hover {
        color: #EDF5E1;
        background: rgb(179, 30, 30);
    }
    #socialnav .icon-2:hover {
        color: #EDF5E1;
        ;
        background: rgb(0, 0, 0.2);
        ;
    }
    .current-time {
        display: block;
        text-align: center;
        padding-bottom: 7px;
    }
    .current-date {
        color: #EDF5E1;
    }
    .navbar ul li a:hover {
        background: rgb(179, 30, 30);
        color: #05386B;
        padding: 20px;
        border-radius: 7px;
    }
    .current-page {
        background: rgb(179, 30, 30);
        color: #05386B;
        padding: 20px;
        border-radius: 7px;
    }
    footer {
        display: flex;
        background: #05386B;
        padding: 20px;
    }
    .main-footer {
        display: flex;
        text-align: center;
        padding: 10px;
    }
    .main-footer p {
        display: block;
        text-align: left;
        margin-top: 60px;
    }
    .company-name {
        display: inline;
        font-size: 20px;
        padding: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5px;
        color: #333;
        padding: 10px;
    }
    .grid-1 {
        display: grid;
        border: 1px solid #333;
        grid-column-start: 1;
        grid-column-end: 0.5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .grid-2 {
        border: 1px solid #333;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-template-rows: max-content;
    }
    .grid-3 {
        display: grid;
        border: 1px solid #333;
        padding: 10px;
    }
    .grid-3 ul li {
        border: 1px solid #333;
        padding: 5px;
        grid-gap: 5px;
        list-style: none;
    }
    .grid-4 {
        display: grid;
        border: 1px solid #333;
        padding: 5px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-template-rows: 2/4;
    }
    .grid-5 {
        display: grid;
        border: 1px solid #333;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 8;
    }
    .grid-6 {
        display: grid;
        border: 1px solid #333;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 8;
    }
}